body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*Cambiar el color de fondo a una más preferencial*/
    background-color: rgb(0, 88, 196);
}

header {
    /*Agregar un color de fondo y color de texto*/
    background-color: #10a3ff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}